<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <header class="header">
            {{#if @blog.logo}}
                <div id="blog" class="circle" style="background-image: url({{@blog.logo}});"></div>
            {{/if}}
            <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

            <div class="separator"></div>

            <p class="description">{{@blog.description}}</p>
            <div class="social-icons">
                <a href="https://plus.google.com/+DominicBartl" class="icon icon-google-plus"></a>
            </div>
        </header>
   </div>

   <div class="content">
    {{{body}}}
</div>




{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Casper }}
<script type="text/javascript" src="/assets/js/index.js"></script>

</body>
</html>