{{!< default}}
<article class="{{post_class}}">

	{{! Everything inside the #post tags pulls data from the post }}
	{{#post}}

	{{! Everything below outputs content of the the post which has been published }}
	<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>

	<h1 class="post-title">{{{title}}}</h1>

	<section class="post-content">
		{{content}}
	</section>

	<footer class="post-footer">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
        var disqus_shortname = 'bartingerat';
        (function() {
        	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</footer>

{{/post}}

</article>